@model IEnumerable<Core.Models.Feed>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/26919b7717.js"></script>
    <!-- Custom CSS -->
    <link href="../../css/full-slider.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        <p class="text-center title-head"><i class="fa fa-instagram" aria-hidden="true"></i> #testformyownproject
                        </p>
                    </h1>
                    <h2><p class="text-center"> Публикуйте фото с тегом в Instagram</p></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 vcenter">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="@item.PhotoUrl" class="img-responsive">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                            <h3>@item.Author</h3>
                                        </div>
                                        <div class="col-md-6 col-xs-6 price">
                                            <h3>
                                                <label class="likes"><i class="fa fa-heart text-danger" aria-hidden="true"></i> @item.Likes</label>
                                            </h3>
                                        </div>
                                    </div>
                                    <p>@item.Description</p>
                                    <p> </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    
</div>



    <script src="../../scripts/jquery.js"></script>
    <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
    <script src="../../scripts/bootstrap.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {
        if (document.location.hash != "")
            console.log(str_replace("#access_token=", "", document.location.hash));
        twemoji.size = '16x16';
        twemoji.parse(document.body);
    });
    function str_replace(search, replace, subject) {
        return subject.split(search).join(replace);
    }
</script>
